---
import { AstroSeo } from "@astrolib/seo"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#FFFFFF"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#181a1b"
    />

    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta
      name="msapplication-TileColor"
      content="#4d3095"
    />

    <AstroSeo
      title="own clock - escape the tyranny of time!"
      description="clock that won't tell you current time, but will show you how much time you have left till the end of the day to woke up on sunrise after 8 hours of sleep"
      openGraph={{
        title: "own clock - escape the tyranny of time!",
        description:
          "clock that won't tell you current time, but will show you how much time you have left till the end of the day to woke up on sunrise after 8 hours of sleep",
        url: "https://ownclock.app",
        images: [
          {
            url: "https://ownclock.app/og-image.jpg",
            width: 1200,
            height: 630,
            alt: "own clock - escape the tyranny of time!",
          },
        ],
        site_name: "own clock",
      }}
    />

    <meta
      name="twitter:card"
      content="summary_large_image"
    />
    <meta
      name="twitter:site"
      content="@igloczek"
    />
    <meta
      name="twitter:creator"
      content="@igloczek"
    />
    <meta
      name="twitter:title"
      content="own clock - escape the tyranny of time!"
    />
    <meta
      name="twitter:description"
      content="clock that won't tell you current time, but will show you how much time you have left till the end of the day to woke up on sunrise after 8 hours of sleep"
    />
    <meta
      name="twitter:image"
      content="https://ownclock.app/og-image.jpg"
    />

    <script
      defer
      data-domain="ownclock.app"
      src="https://plausible.io/js/script.js"
    ></script>
  </head>

  <body class="h-full text-gray-700 dark:bg-gray-900 dark:text-gray-300">
    <slot />
  </body>
</html>
