<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />

    <title>Own clock - Escape the tyranny of time!</title>

    <script
      defer
      data-domain="ownclock.app"
      src="https://plausible.io/js/script.js"
    >
    </script>
  </head>

  <body class="h-full text-gray-700 dark:bg-gray-900 dark:text-gray-300">
    <slot />
  </body>
</html>
